<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script type="text/javascript" src="/js/site.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="attack-title">
            <h1>XSS</h1>
        </div>
        <div class="upute">
            <p class="text">
                This is some text that explains what is going on
            </p>
        </div>
        <div class="attack-content">
            <div class="action-container">
                <p class="action"></p> obranu
                <input type="checkbox" class="attackCheck" onclick="handleDefense()">
            </div>
        </div>
    </div>
</body>

</html>